body {
  font-family: "Roboto", sans-serif;
}
.mdinput {
  width: 100%;
  resize: none;
}
.mdout {
  font-family: "Roboto", sans-serif;
  background-color: #2196F3;
  height: 300px;
  color: #FFFFFF;
}
p#int:first-letter {
  margin-top: 100px;
  font-size: 30px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #2196F3;
}
